<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100italic,300italic,400italic,500italic,700italic,900italic,100,300,400,500,700,900,' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   

</head>
<body ng-app="app">
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <div class="sidenav-header-inner text-center">
                    <img src="~/img/avatar-1.jpg" alt="person" class="img-fluid rounded-circle">
                    <h2 class="h5 text-uppercase">Anderson Hardy</h2><span class="text-uppercase">Web Developer</span>
                </div>
                <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
            </div>
            <div class="main-menu">
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li> <a href="/Home/Administrator"> <i class="icon-home"></i><span>Home</span></a></li>
                    <li> <a href="#!/pejabat"><i class="fa fa-star" aria-hidden="true"></i><span>Pejabat</span></a></li>
                    <li> <a href="#!/rw"><i class="icon-presentation"></i><span>RW</span></a></li>
                    <li> <a href="#!/kk"><i class="fa fa-address-card-o" aria-hidden="true"></i><span>Kartu Keluarga</span></a></li>
                    <li> <a href="#!/penduduk"><i class="fa fa-user"></i><span>Cari Penduduk</span></a></li>
                    <li> <a href="#!/permohonan"><i class="fa fa-file-o" aria-hidden="true"></i><span>Permohonan</span></a></li>
                    
                </ul>
            </div>
            <div class="admin-menu">
                <ul id="side-admin-menu" class="side-menu list-unstyled">
<!--                    <li>
                        <a href="#pages-nav-listpen" data-toggle="collapse" aria-expanded="false">
                            <i class="fa fa-user"></i><span>Catatan Penduduk</span>
                            <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <ul id="pages-nav-listpen" class="collapse list-unstyled">
                            <li><a href="#">Penduduk Masuk</a></li>
                            <li><a href="#">Penduduk Keluar</a></li>
                        </ul>
                    </li>
-->
                    <li>
                        <a href="#pages-nav-list-srt" data-toggle="collapse" aria-expanded="false">
                            <i class="fa fa-file-text-o"></i><span>Surat</span>
                            <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <ul id="pages-nav-list-srt" class="collapse list-unstyled">
                            <li> <a href="#!/pindah">Pindah</a></li>
                            <li> <a href="#!/kematian">Kematian</a></li>
                            <li> <a href="#!/umum">Umum</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page forms-page">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="index.html" class="navbar-brand">
                                <div class="brand-text hidden-sm-down"><span></span><strong class="text-primary">Sistem Informasi Kelurahan</strong></div>
                            </a>
                        </div>
                      
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Counts Section -->
        @RenderBody()
        <!-- Header Section-->
      
        <!-- Statistics Section-->
      
        <footer class="main-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Your company &copy; 2017-2019</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
                        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
   
    @RenderSection("scripts", required: false)
   
  

    <script>
      
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>

</html>
